{% args stations, info %}
<div class="welcome">
<div class="wifi">
<img src="static/img/logo.jpg">
<h1>Select Wifi</h1>
<form action="." method="post">
    <select name="ssid" class="inputs">
    {% for wifi in stations %}
    <option value="{{wifi['ssid']}}">{{wifi['ssid']}}</option>
    {% endfor %}
    </select>
    <input type="password" class="inputs" name="password" placeholder="Password AP">
    <p>Choose admin password to access</p>
    <input type="password" class="inputs" name="admin_password" placeholder="Password Admin">

    <button type="submit" name="submit" value="submit">Save</button>
</form>
</div>
<div class="wifi-footer">
<p><small>GeekFarm v{{info['version']}} - {{info['platform']}}</small></p>
</div>
</div>